td {
    height: 20px;
    width: 20px;
    font-family: sans-serif;
    font-size: 9px;
    color: #333333;
    text-align: center;
}

.blank {
    background-color: #efefef;
}

.obstacle {
    background-color: #E05858
}

.player {
    background-color: aquamarine;
}

.ball {
    background-color: #3498DB;
}